/Ceti 6to Semestre/Graficas 2d y 3d/1er Parcial/ArchimedeanSpiral/nbproject/private/
/Ceti 6to Semestre/Graficas 2d y 3d/1er Parcial/ArchimedeanSpiral/build/
/Ceti 6to Semestre/Graficas 2d y 3d/1er Parcial/ArchimedeanSpiral/dist/